.Home {
  width: 100%;
  height: 100000px;
  .cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 70px;

    h2 {
      font-size: 35px;
      margin: 10px 0;
    }

    div {
      width: 100%;
      height: 440px;
      display: flex;
      justify-content: space-evenly;
    }

    .more {
      color: #fff;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: 1px solid #1c274c;
      padding: 17px 50px 18px 54px;
      background-color: #1c274c;
      border-radius: 60px;
    }
  }
}
